* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;*/

body {
  background-color: hsl(30, 38%, 92%);
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_card {
  margin: 1.875em auto;
  padding: 0 1.875em;
}

.card {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 1em;
  overflow: hidden;
}

.img_card img {
  max-width: 100%;
  display: inherit;
}

.description {
  padding: 1.188em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tipe_produc {
  font-size: 1em;
  text-transform: uppercase;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  letter-spacing: 0.188em;
}

.title_produc {
  font-family: "Fraunces", serif;
  font-size: 2.313em;
}

.descrip_produc {
  color: hsl(228, 12%, 48%);
  letter-spacing: 0.063em;
  line-height: 1.5em;
}

.price {
  display: flex;
  align-items: center;
}
.currently_price {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 1.875em;
}

.old_price {
  padding-left: 1.25em;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
}

button.cart {
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 1em;
  color: #fff;
  font-weight: 700;
  border-radius: 0.625em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.cart img {
  padding-right: 0.625em;
}

button.cart:hover {
  background-color: hsl(158, 36%, 25%);
}

@media screen and (max-width: 645px) {
  .card {
    grid-template-columns: 1fr;
  }

  .img_card img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 375px) {
  .img_card img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }
}
